@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
}

:root {
  --color-background: #ffffff;
  --color-light-gray-100: #dce3ee;
  --color-light-gray-200: #f4f6fa;
  --color-white-variant-1: #fdfdfd;
  --color-white-variant-2: #fefefe;
  --color-light-gray-300: #dae2ed;
  --color-primary-blue: #496ef3;
  --color-light-gray-400: #fbfcfd;
  --color-light-gray-500: #dbe3ee;
  --color-light-gray-600: #dbe2ed;
}