@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--color-background);
}

@theme {

  --color-primary-blue: #2053f4;
  --color-primary-blue-1: rgb(30 84 244);
  --color-primary-black: #0b1826;
  --color-input-bg: #f3f5f9;
  --color-gray-1: #cecece;
}